In [1]:
# Multiple Linear Regression

import numpy as np
import pandas as pd

In [3]:
# Importing the datasets

df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [21]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

In [24]:
#convert column state into numerical value as it is categorical feature
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [31]:
lab = LabelEncoder()
X[:,3] = lab.fit_transform(X[:,3])
X[1:5,:]

array([[162597.7, 151377.59, 443898.53, 0],
       [153441.51, 101145.55, 407934.54, 1],
       [144372.41, 118671.85, 383199.62, 2],
       [142107.34, 91391.77, 366168.42, 1]], dtype=object)

In [34]:
oe = OneHotEncoder()
X = oe.fit_transform(X).toarray()

In [35]:
X[1]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0.])

In [38]:
#import packages to make data for train and testing
#test_size= 0.2 means 20% of whole data to be tested and random_state =0 means data cannot be selectes randomly
from sklearn.model_selection import train_test_split
X_train,X_test , Y_train , Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)
reg = LinearRegression()
reg.fit (X_train, Y_train)         #First model needs to be fitted

LinearRegression()

In [39]:
Y_pred = reg.predict(X_test)

In [41]:
df['Y_pred'] = Y_pred   #will give error as the data is split into 2 parts test and train because of which length changes

ValueError: Length of values does not match length of index

In [43]:
pd.DataFrame(Y_test,Y_pred)

                       0
110811.561194  103282.38
105687.093943  144259.40
110811.561194  146121.95
110811.561194   77798.83
110811.561194  191050.39
118460.990391  105008.31
118460.990391   81229.06
118460.990391   97483.56
110811.561194  110352.25
110811.561194  166187.94