# Datatype

In [43]:
x = 5
type(x)

int

In [9]:
y = 'hi'
type(y)

str

In [46]:
a = 1.0
type(a)

float

# PythonCasting

In [44]:
z = float("3")
z

3.0

In [7]:
w = str(6.78)
w

'6.78'

# List

In [15]:
#Indexing
list1 = ["a", "b", "c", "d", "e", "f", "g"]
list1[5]

'f'

In [14]:
list1[4:]

['e', 'f', 'g']

In [17]:
list1[-3]

'e'

In [19]:
list1[2:-1]

['c', 'd', 'e', 'f']

In [23]:
#append
list1.append("h")
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'g', 'g', 'h', 'h']

In [25]:
#insert
list1.insert(7, "h")
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'h', 'g', 'g', 'h', 'h']

In [28]:
list1.remove("h")
list1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'g', 'g', 'h']

In [29]:
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'g', 'g', 'h', 1, 2, 3]

# TUPPLES

In [31]:
t1 = ("x", "y", "z")
t2 = list(t1)
t2[1] = "w"
t1 = tuple(t2)
print(t1)

('x', 'w', 'z')

In [32]:

t3 = (1,)
type(t3)

tuple

In [33]:
#Not a tupple
t4 = (1)
type(t4)

int

# SETS

In [8]:
set1 = {"a", "b" , "c"}
set2 = {1,2,3}

In [18]:
#add()
set1.add('d')
set1

{'a', 'b', 'c', 'd'}

In [4]:
#len()
len('set1')

4

In [19]:
#remove()
set1.remove('d')
set1

{'a', 'b', 'c'}

In [7]:
#pop()
set1.pop()

'c'

In [16]:
#union()
set = set1.union(set2)
set

{1, 2, 3, 'a', 'b', 'c'}

In [15]:
#update()
set.update([4,5,6])
set

{1, 2, 3, 4, 5, 6, 'a', 'b', 'c'}

# dictionary

In [34]:
d1 = {1:1, 2:4,3:9}
d1

{1: 1, 2: 4, 3: 9}

In [36]:
#changing value in dictionary
d1 = {1:1, 2:4,3:9}
d1[3] = 27
d1

{1: 1, 2: 4, 3: 27}

In [39]:
#forloop in dictionary
for x in d1:
  print(x)

1
2
3

In [40]:
#nesteddictionary
d2 ={{1 : {"a" : "apple","letter" : "first"},
      2 : {"b" : "ball","letter" : "second"},
      3 : {"c" : "cat", "letter" : "third"}
     }}

TypeError: unhashable type: 'dict'

# while

In [47]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# forloop

In [42]:
adj = ["red", "big", "tasty"]fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# if...else

In [20]:
a=  int(input("enter a value:"))

enter a value:3

In [24]:
if (a>=1)&(a<5):
    if(a==1): print (a+2)
    else:print (a+3)
else : print(a)

6

# Function

In [45]:
def area(a,b):
    c = a* b
    return c
area (4.5,6)

27.0

In [41]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil