In [2]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re

# Operation on Series

In [15]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1) 
s2 = pd.Series(v2)
s1 , s2

(0    10
 1    20
 2    30
 dtype: int32, 0    1
 1    2
 2    3
 dtype: int32)

In [13]:
# Addition of two series
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [14]:
# Subtraction of two series
s1.sub(s2)

0     9
1    18
2    27
dtype: int32

In [16]:
# Subtraction of two series
s1.subtract(s2)

0     9
1    18
2    27
dtype: int32

In [17]:
# Increment all numbers in a series by 9
s1.add(9)

0    19
1    29
2    39
dtype: int32

In [18]:
# Multiplication of two series
s1.mul(s2)

0    10
1    40
2    90
dtype: int32

In [19]:
# Multiplication of two series
s1.multiply(s2)

0    10
1    40
2    90
dtype: int32

In [20]:
# Multiply each element by 1000
s1.multiply(1000)

0    10000
1    20000
2    30000
dtype: int32

In [21]:
# Division
s1.divide(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [22]:
# Division
s1.div(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [23]:
# MAX number in a series
s1.max()

30

In [24]:
# Min number in a series
s1.min()

10

In [ ]:
# Average
s1.mean()

In [ ]:
# Median
s1.median()

In [ ]:
# Standard Deviation
s1.std()

In [ ]:
# Series comparison
s1.equals(s2)

In [ ]:
s4 =s1

In [ ]:
# Series comparison
s1.equals(s4)

In [ ]:
s5 = pd.Series([1,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5])
s5

In [ ]:
s5.value_counts()

In [7]:
x = [8.0, 1, 2.5, 4, 28.0]
x_with_nan = [8.0, 1, 2.5, math.nan, 4, 28.0]
x

[8.0, 1, 2.5, 4, 28.0]

In [8]:
x_with_nan

[8.0, 1, 2.5, nan, 4, 28.0]

In [7]:
math.isnan(np.nan), np.isnan(math.nan)

(True, True)

In [8]:
float('nan')
math.nan
np.nan

nan

In [9]:
math.nan == math.nan

False

In [9]:
y, y_with_nan = np.array(x), np.array(x_with_nan)
y
y_with_nan

array([ 8. ,  1. ,  2.5,  nan,  4. , 28. ])

In [11]:
z, z_with_nan = pd.Series(x), pd.Series(x_with_nan)
z
z_with_nan

0     8.0
1     1.0
2     2.5
3     NaN
4     4.0
5    28.0
dtype: float64

# Measures of Central Tendency

# mean

In [12]:
mean_ = sum(x) / len(x)
>>> mean_

8.7

In [13]:
mean_ = statistics.mean(x)
mean_

8.7

In [10]:
mean_ = statistics.fmean(x) #present in python 3.8
mean_

AttributeError: module 'statistics' has no attribute 'fmean'

In [16]:
#if there are nan values among your data, then statistics.mean() and statistics.fmean() will return nan as the output:
mean_ = statistics.mean(x_with_nan)
mean_

nan

In [11]:
mean_ = np.mean(y) #mean using numpy
mean_

8.7

In [19]:
mean_ = y.mean()
mean_

8.7

In [12]:
#You often donâ€™t need to get a nan value as a result. If you prefer to ignore nan values, then you can use np.nanmean():
np.nanmean(y_with_nan)

8.7